# Mercado Pago
# Gere seu token em: https://www.mercadopago.com.br/developers/panel
# Para TESTAR use credencial de TESTE (começa com TEST-)
# Para PRODUÇÃO use credencial de PRODUÇÃO (começa com APP_USR-)
MP_ACCESS_TOKEN=seu_token_aqui

# Servidor
PORT=3000
APP_URL=http://localhost:3000
NODE_ENV=development
