# Mercado Pago
# Gere seu token em: https://www.mercadopago.com.br/developers/panel
MP_ACCESS_TOKEN=APP_USR-4651380046942722-062911-4f0c2b7155cc8e7ffb3a355b1354cf4b-3503613269

# Servidor
PORT=3000
NODE_ENV=development
